{
  "presets": [
    "babel-preset-react-native-stage-0/decorator-support",
    "@babel/preset-env", 
    "@babel/preset-react",
    "module:metro-react-native-babel-preset"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-object-rest-spread",
        "transform-react-jsx-source",
        "@babel/plugin-transform-react-jsx",
        "react-native-reanimated/plugin"
      ]
    }
  }
}