{
  "presets": [
    "module:metro-react-native-babel-preset",
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        "react-native-reanimated/plugin"
      ]
    }
  }
}