body {
  margin: 0;
  padding: 0;
  font-family:  sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh; 
}

@font-face {
  font-family: 'Teko-Medium';
  src: url('./assets/fonts/Teko-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('./assets/fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('./assets/fonts/Teko-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('./assets/fonts/Inter-SemiBold.ttf') format('truetype');
}


/* Estilos globais */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Ajustes para dispositivos móveis */
@media only screen and (max-width: 768px) {
  .app {
      width: 90vw;
      height: 95vh;
      border-radius: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      max-width: none;
      max-height: none;
      transform: scale(0.9);
      transform-origin: top left;
     
  }
}


